# ─── Theme & Transparency ───
theme = GitHub Dark Default
background-opacity = 0.95
background-blur = true

# ─── Font ───
font-family = "Monaspace Argon"
font-thicken = true

# ─── Window ───
macos-titlebar-style = tabs
macos-option-as-alt = true
window-colorspace = display-p3
window-save-state = always
cursor-style = bar

window-padding-balance = true

# ─── Behavior ───
confirm-close-surface = false
scrollback-limit = 100000000

# ─── Shell Integration ───
shell-integration-features = cursor,sudo,title,ssh-terminfo,ssh-env
